<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Bookshelf</title>
</head>
<body style="padding: 100px">
    <h1>Books</h1><br>
    <a href="/fetchall">fetchAll</a><br>
    <a href="/fetch">fetch</a><br>
    <a href="/where">where</a><br>
    <a href="/related">related</a><br>
    <a href="/insert">insert</a><br>
    <a href="/update">update</a><br>
    <a href="/destroy">destroy</a><br>

    <br><h1>Sakila</h1><br>
    <a href="/allcustomers">All Customers</a><br>
    <a href="/allrentals">All Rentals</a><br>
    <a href="/customerrelatedrental">Customers related Rentals</a><br>
    <a href="/customerrelatedaddress">Customers related Address</a><br>

</body>
</html>